In [2]:
import pandas as pd

# Definir a URL do arquivo CSV
url_saneamento = 'https://github.com/Projeto-Integrado-IV/dados_pi/raw/refs/heads/main/raw/base_saneamento_tratada.csv'

# Ler o arquivo CSV
df_saneamento = pd.read_csv(url_saneamento, delimiter=';', encoding='latin1')

# Selecionar as colunas necessárias e renomear a coluna 'Código IBGE'
df_saneamento = df_saneamento[['Cidade', 'População em 2021', 'Código IBGE', 'Área Territorial - km2']].rename(columns={'Código IBGE': 'cod_ibge', 'População em 2021': 'populacao', 'Área Territorial - km2': 'area_territorial'})

# Definir a URL do arquivo CSV
url_mortalidade = 'https://github.com/Projeto-Integrado-IV/dados_pi/raw/refs/heads/main/raw/obitosinfantis_periodo_tratada.csv'

# Ler o arquivo CSV
df_mortalidade = pd.read_csv(url_mortalidade, delimiter=';', encoding='latin1')

# Remover a linha onde 'cod_ibge' é igual a 3500000
df_mortalidade = df_mortalidade[df_mortalidade['cod_ibge'] != 3500000]

# Realizar o join usando a chave 'cod_ibge' de cada DataFrame
df = pd.merge(df_mortalidade, df_saneamento, on='cod_ibge', how='left')

# Ordernação do DataFrame
df = df[['Cidade', 'cod_ibge', 'populacao', 'area_territorial', 'ano', 'nascidos vivos (por local de residência)', 'obitos menores de 1 Ano', 'obitos menores de 7 dias', 'obitos de 28 dias a 364 dias', 'obitos de 7 a 27 dias']]

In [3]:
display(df)

# df selecionar na ordem Cidade, cod_ibge, população, ano, nascidos vivos (por local de residência), obitos menores de 1 Ano;obitos menores de 7 dias;obitos de 28 dias a 364 dias;obitos de 7 a 27 dias

,Cidade,cod_ibge,populacao,area_territorial,ano,nascidos vivos (por local de residência),obitos menores de 1 Ano,obitos menores de 7 dias,obitos de 28 dias a 364 dias,obitos de 7 a 27 dias
0,Adamantina,3500105,34.687,"411,99",2022,388,4.0,2.0,1.0,1.0
1,Adolfo,3500204,4.351,"211,06",2022,58,0.0,0.0,0.0,0.0
2,Aguaí,3500303,32.072,"474,55",2022,390,3.0,2.0,0.0,1.0
3,Águas da Prata,3500402,7.369,"142,67",2022,69,1.0,0.0,0.0,1.0
4,Águas de Lindóia,3500501,17.930,"60,13",2022,195,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
14830,Votorantim,3557006,127.923,"183,52",2000,1936,30.0,10.0,12.0,8.0
14831,Votuporanga,3557105,96.634,"420,7",2000,1001,9.0,6.0,2.0,1.0
14832,Zacarias,3557154,2.692,"319,06",2000,21,0.0,0.0,0.0,0.0
14833,Chavantes,3557204,12.211,"188,73",2000,199,4.0,1.0,1.0,2.0
14834,Estiva Gerbi,3557303,11.295,"74,14",2000,129,2.0,0.0,2.0,0.0